name: core
run-name: core

on:
  push:
    branches: [ master ]
  workflow_dispatch:
  
jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: 'Set up Node 18'
        uses: actions/setup-node@v4
        with:
          node-version: '18.17.1'

      - name: 'Install npm dependencies'
        working-directory: ./core
        run: npm install

      - name: 'Run tests'
        working-directory: ./core
        run: npx jest --coverage

      - name: 'Run Stryker'
        working-directory: ./core
        run: npm run stryker

      - name: 'Run Cucumber'
        working-directory: ./core
        run: npm run test:cucumber

      - name: 'Upload code coverage report'
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-reports
          path: ./core/coverage/**/*
          retention-days: 5

      - name: 'Upload mutation tests report'
        uses: actions/upload-artifact@v4
        with:
          name: mutation-test-reports
          path: ./core/reports/**/*
          retention-days: 5
